{% extends "BlogBuster/padre.html" %} 

{% load static %} 

<!-- Titulo de la ventana -->
{% block browser-titulo %} 
Login | BlogBuster - Be Kind, Rewind
{% endblock %}

<!-- Titulo del header -->
{% block titulo %} 
Login   
{% endblock %}


<!-- Icono del titulo -->
{% block titulo-icon %} 
<i class="fa fa-address-card"></i>
{% endblock %}

<!-- Formulario -->
{% block formulario %}		
<div class="row justify-content-center">
    <div class="col-lg-8 col-xl-7">
        <form action="" method="POST"> {% csrf_token %}
            {{formulogin.as_p}}
            <button type="submit">Go Go Go!!</button>
        </form>

{% endblock %}

{% block titulo-afterbutton %} 
{{mensaje}}
{% endblock %}