{% extends "BlogBuster/padre.html" %} 

{% load static %} 

<!-- Titulo de la ventana -->
{% block browser-titulo %} 
Resultados de búsqueda | BlogBuster - Be Kind, Rewind
{% endblock %}

<!-- Titulo del header -->
{% block titulo %} 
Resultados de la búsqueda
{% endblock %}

<!-- Subtitulo del header -->
{% block subtitulo %} 
<h3>Estas buscando al juego "{{busqueda}}"</h3>
{% endblock %}

<!-- Icono del titulo -->
{% block titulo-icon %} 
<i class="fas fa-search"></i>
{% endblock %}

<!-- Formulario -->
{% block formulario %}	
    {% for juego in juegos %}
        <table style="width:100%">
            <tr>
                <th class="bg-secondary">NOMBRE</th>
                <th class="bg-secondary">DESARROLLADORA</th>
                <th class="bg-secondary">PLATAFORMA</th>
                <th class="bg-secondary">GÉNERO</th>
            </tr>
            <tr>
                <th>{{juego.nombre}}</th>
                <th>{{juego.desarrolladora}}</th>
                <th>{{juego.plataforma}}</th>
                <th>{{juego.genero}}</th>
            </tr>
        </table>
        <br/>
    {% endfor %}
{% endblock %}