{% extends "BlogBuster/padre.html" %} 

{% load static %} 

<!-- Titulo de la ventana -->
{% block browser-titulo %} 
Buscar CD | BlogBuster - Be Kind, Rewind
{% endblock %}

<!-- Titulo del header -->
{% block titulo %} 
Buscar
{% endblock %}

<!-- Icono del titulo -->
{% block titulo-icon %} 
<i class="fas fa-video-camera"></i>
{% endblock %}

<!-- Subtitulo del header -->
{% block subtitulo %} 
Buscar CD
{% endblock %}

<!-- Formulario de búsqueda-->
{% block formulario %}			
<div class="row justify-content-center">
    <div class="col-lg-8 col-xl-7">
        <form action="/blogbuster/resultadoCds/" method="GET"> 
            <p>Artista: <input type="text" name="artista" id="artista"></p>
            <input type="submit" value="Buscar">
        </form>
{% endblock %}

{% block titulo-afterbutton %} 
Resultados de la búsqueda
{% endblock %}