{% extends "BlogBuster/padre.html" %} 

{% load static %} 

<!-- Titulo de la ventana -->
{% block browser-titulo %} 
Cargar VHS | BlogBuster - Be Kind, Rewind
{% endblock %}

<!-- Titulo del header -->
{% block titulo %} 
VHS
{% endblock %}

<!-- Subtitulo del header -->
{% block subtitulo %} 
{% endblock %}

<!-- Icono del titulo -->
{% block titulo-icon %} 
<i class="fas fa-search"></i>
{% endblock %}

<!-- Formulario -->
{% block formulario %}	
    <form action="" method="POST" enctype='multipart/form-data'> {% csrf_token %}
        <img src="{{vhs.imagen.url}}" alt="No image found" style="max-width: 150px; max-height: 140px">
        {{form.as_p}}
        <input type="submit" value="Enviar">
    </form>
</br></br>

<a href="{% url 'ListaVhs' %}">Volver</a>

{% endblock %}