{% extends "BlogBuster/padre.html" %} 

{% load static %} 

<!-- Titulo de la ventana -->
{% block browser-titulo %} 
Catálogo de Juegos | BlogBuster - Be Kind, Rewind
{% endblock %}

<!-- Titulo del header -->
{% block titulo %} 
Videojuegos
{% endblock %}

<!-- Subtitulo del header -->
{% block subtitulo %} 
{% endblock %}

<!-- Icono del titulo -->
{% block titulo-icon %} 
<i class="fas fa-search"></i>
{% endblock %}

<!-- Formulario -->
{% block formulario %}	
    <table style="margin-left:auto;margin-right:auto;">
        <tr>
            <th class="bg-secondary" style="padding: 10px">NOMBRE</th>
            <th class="bg-secondary"  style="padding: 10px;width:30%">PLATAFORMA</th> 
            <th class="bg-secondary"  style="padding: 10px;width:30%"></th> 
        </tr>
    {% for cartucho in object_list %}    
        <tr>
            <th style="padding: 10px">{{cartucho.nombre}}</th>
            <th style="padding: 10px">{{cartucho.plataforma}}</th>
            <th style="padding: 10px">           
                    <a href="{% url 'DetalleJuegos' cartucho.id %}">Ver</a>
                    <a style="padding: 3px"></a>
                    {% if request.user.is_staff %}
                        <a href="{% url 'UpdateJuegos' cartucho.id %}">Editar</a>
                        <a style="padding: 3px"></a>
                        <a href="{% url 'DeleteJuegos' cartucho.id %}">Eliminar</a>
                    {% endif %}
            </th>
        </tr>
    {% endfor %}
    </table>
    {% if request.user.is_staff %}
        <br/>
        <a href="{% url 'CargarJuegos' %}">Cargar Juego</a>
    {% endif %}
{% endblock %}
